/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    min-height: 100vh;
    background: #161623;
    color: #fff;
    scroll-behavior: auto;
}

body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

/* Header Styles */
.header-container {
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .35);
}

nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* align-items: center; */
}

.logo {
    font-size: 2.5rem;
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style-type: circle;
    margin: 0 1.5rem;
}

.nav-list li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 2rem 10rem;
}

section.education {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    border: 1px solid grey;
    padding: 2rem;
    margin-top: 4rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}

.flex>* {
    margin: 3px;
}
.flex p, .flex img{
    margin-left: 2rem;
    font-size: 16px;
}

section.header {
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg") center no-repeat;
    background-size: cover;
}

/* Card Styles */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.profile {
    position: fixed;
}

.container .card .contents {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .contents {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .contents h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .contents h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
}

.container .card .contents p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.container .card .contents a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Social Contact Styles */
.social {
    position: fixed;
    padding: 10px 10px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.social ul {
    position: relative;
    display: flex;
    gap: 25px;
}

.social ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.social ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.social ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.social ul li:hover::before {
    opacity: 1;
}

.social ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

.social ul li:hover::after {
    opacity: 0.5;
}

.social ul li i {
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.social ul li:hover i {
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

.social ul li span {
    position: absolute;
}

.social ul li .titulo {
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.social ul li:hover .titulo {
    transform: scale(1);
    transition-delay: 0.25s;
}

/* Popup Styles */
.popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    z-index: 3;
}

.popup-content {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 25px;
    width: 500px;
    padding: 30px 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transform-origin: center;
    backdrop-filter: blur(10px);
}

.popup .popup-content p {
    color: #fff;
    margin: 17px;
}

.popup .popup-content p a {
    font-weight: 700;
    color: #2196f3;
    text-decoration: none;
}

.popup .popup-content ul {
    display: block;
    list-style-type: circle;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.popup .popup-content img {
    display: flex;
    top: 0;
    left: 0;
    margin: auto;
    max-width: 30%;
    height: auto;
}

.close-popup {
    display: block;
    float: right;
    text-decoration: none;
    color: #fff;
}

/* Scroll Indicator Styles */
.scroll-indicator {
    width: 100%;
    height: 4px;
    background: #eee;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    visibility: hidden;
}

.progress {
    width: 0%;
    height: 4px;
    background: #2196f3;
}